
h2 {
    display: inline block;
    position: relative;
    margin-top: 80px;
    font-size: 1.7em;
    color: $color-titulos;
    text-align: center;
}
h2::after,h2::before{
        content: "";
        background-color: $color-titulos;
        position: absolute;
        width: 125px;
        height: 3px;
        top: 0.6em;
    }
h2::before{
    left: 30%;
}
h2::after{
    right: 30%;
}
.container-inicio {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
   .inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;}
    P{
        position: relative;
        font-size:14px;
        text-align: center;
        color: #212F3C;
        margin: 10px 0 30px;
        overflow: hidden;
        padding: 35px;
    }
}
.inicio img {
           width: 400px;
           height: 280px;
           object-fit: cover;
           border-radius: 5px;
           box-shadow: 5px 10px 5px #4B7020;
}
.container-inicio .inicio p::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #def2b5 50%;
    border-radius: 10px;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}
.container-inicio .inicio p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.container-inicio .inicio p:nth-of-type(1)::before,
.container-inicio .inicio p:nth-of-type(1)::after{
    animation-delay: 1s;
}

.container-inicio .inicio p:nth-of-type(2)::before,
.container-inicio .inicio p:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}   
.titulo h3{
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    

}
.conteiner-servicios{
    justify-content: space-around;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    .servicio{
        align-items: center;
        margin-top: 5%;
        padding:80px;
    }
    .serv{
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        color: #212F3C;
        overflow: hidden;
        h3{
            font-size: 18px;
            font-weight: bold;
        }
             p{
               font-size:13px;

             }   
}
.servicio img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
}