.container-form{
    background: #212F3C;
	opacity: 0.9;
    border-radius: 6px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
 h2{
    font-size: 22px;
    color: $color-secundario;
 }
 a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: $color-secundario;
    font-weight: 700;
}
}
.info-form{
    margin-left: 5%;
}
form{
    margin-left: 8%;
    margin-top: 10%;
}
iframe{
    object-fit: cover;
    border-radius: 6px;
    width: 450px;
    height: 240px;
}
.container-form a i{
    color: #B8D944;
}
.container-form form .campo, textarea{
    width: 90%;
    padding: 15px 10px;
    font-size: 16px;
    border: 5px solid #B8D944;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
 textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
}
.btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #B8D944;
    color: $color-secundario;
    border-radius: 6px;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover{
        background: #324001;
}
}