
h2 {
    display: inline block;
    position: relative;
    margin-top: 80px;
    font-size: 1.7em;
    color: $color-titulos;
    text-align: center;
}
hr{
    height: 4px;
    width: 6%;
   background-color: #B8D944;
    margin: auto;
    border-radius: 3px;
}
.container-inicio {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    margin: auto;
     p{
        font-weight: bold;
        top: 30%;
        width: 90%;
        height: 90%;
        text-align: center;
        font-size: 22px;
        position: absolute;     
    }
}
.inicio img {
    border-radius: 50%;
    margin-left: 10%;
    width: 70%;
   height: 70%;
}
.titulo h3{
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}
.conteiner-servicios{
    justify-content: space-around;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    .servicio{
        align-items: center;
        margin-top: 5%;
        padding:70px;
    }
    .serv{
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        color: $color-titulos;
        overflow: hidden;
        h3{
            font-size: 20px;
            font-weight: bold;
        }
             p{
               width:200px ;
               font-size:18px;
             }   
}
.servicio img{
    margin-left: 18%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
}
.produccion{
    background-image: url(../imagen/fondo.jpg);
    opacity: 0.9;
    height: 400px;
    width: 100%;
    margin-top: 50px;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;
    h6{
        color: $color-secundario;
        font-size: 2em;
        text-align: center;
        font-weight: bolder;
        z-index: 1;
        
        }
        p{
        color: $color-secundario;
        font-size: 20px;
        text-align: center;
        font-weight:bolder;
        z-index: 1;
        }
    
    }
    .planta{
        width: 250px;
        height: 250px;
        margin: auto;
    }

.produccion::before{
    content: "";
    width: 100%;
    height: 400px;
    background-color:#0edd18a8;
    position: absolute;
    opacity: 0.6;
  filter:  alpha(opacity=50);
}