
@media screen and (max-width:1024px){
    .checkbtn{
        display: block;
  }
  ul{
    position: fixed;
    background:$color-titulos;
    opacity: 0.9;
    width: 100%;
    top: 100px;
    left: -100%;
    border-radius: 5px;
    text-align: center;
    transition: all .5s;
}
nav ul li{
    text-align: center;
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 20px;
    color: $color-secundario;
}
#check:checked ~ ul{
    left:0;
}
hr{
    height: 6px;
    width: 15%;
    background-color:#698C1C;
}
.container-inicio {
    margin-left: 6%;
}
.inicio p{
    p{
        width: 60%;
        height: 60%;
        text-shadow: 20px 20px 20px #B8D944;
    }
}
.inicio img{
    width: 60%;
    height: 60%;
}
.conteiner-servicios{
    flex-direction: column;
    .servicio{
        margin: auto;
        align-items: center;
        margin-top: 5%;
        padding:10px;
}
}
    .serv{
        color: $color-titulos;
        overflow: hidden;
        h3{
            background-color: #B8D944;
            width: 300px;
            border-radius: 8px;
            font-size: 28px;
            margin: auto;
        }
             p{
                padding: 20px;
                margin: auto;
                width:380px ;
               font-size:24px;
             }   
}
.servicio img{
    margin-left: 25%;
    width: 200px;
    height: 200px;
}

.conteiner-productos{
    width: 75%;
     grid-template-columns: repeat(2, 1fr);
     gap: 15px;
     margin-top: 8%;
}
     figure {
         height: 250px;
         width: 250px;
        }
.conteiner-pedido{
    grid-template-columns: repeat(2, 1fr);
    height:70%;
    width: 70%;  
    .pedido{
        margin: auto;
    }
}
.conteiner-productos img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: "transform";
  }
.footer-distribuido{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 150px;
    }

.footer-distribuido .footer-izq, .footer-distribuido .footer-centro, .footer-distribuido .footer-der {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    margin: auto;
   
}
.footer-centro {
    width: 40%;
}
.footer-der p{
    text-align: center;
}
.footer-icons {
    margin-top: 20px;
 a {
    display: inline-block;
    width: 55px;
    height: 35px;}
 }
}
@media only screen and (max-width: 800px){
    .inicio p{
        width: 80%;
        line-height: 25px;
        font-size: 18px;
        margin-left: 5%;
}

.inicio img {
        opacity: 0.8;
        margin-left: 18%;
        width:450px;
        height: auto;  
        object-fit: cover;
        border-radius: 50%;
}
.conteiner-servicios{
    margin-bottom: 15%;
}
    .servicio{
        height: 450px;
        margin-top: 5px;

    } 
    .serv h3{   
        width: 200px;
    }
    .serv P{
        font-size: 20PX;
}
.servicio img{
    margin: auto;
    width: 180px;
    height: 180px;
}
.conteiner-productos{
    width: 80%;
    grid-gap: 5px;
    .contenedorp{
        margin: auto;
    }
figure {
    height: 160px;
    width: 230px;
   }
}
.container-img {
    grid-gap: 10px;
}
}
@media only screen and (max-width: 586px){
    hr{
        height: 4px;
        width: 20%;}
   
    .container-inicio {
        height: 100%;
        }
        .inicio p{
            top: 10%;
            width:90%;
            font-size:18px; 
            margin: auto;
        }
    .inicio img{
        width:70%;
        height: 70%;
        margin: auto;
        margin-left: 10%;
    }
    .servicio img{
        width: 150px;
        height: 150px;
    } 

.produccion{
    height: 500px;
    p{
        font-size: 18px;
        width: 250px;
        height: 300px;
        margin: auto;
    }
}
.produccion::before{
    height: 500px;
}
.conteiner-productos{
     grid-template-columns: repeat(1, 1fr);
}
.conteiner-pedido{
    grid-template-columns: repeat(1, 1fr);

}
.container-img {
    grid-template-columns: repeat(1, 1fr);
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
}
  .container-img .box-img:nth-child(4) {
    grid-row-start: span 1;
}
}