*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body{  
    background-size: cover;
    font-family: "poppins";
    text-decoration: none;
    width: auto;
    background-color: #E5E7E0;
}